banner {
  display: flex;
  height: 98vh;
  left: 0;
  justify-content: center;
  align-items: center;
}

banner .main {
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 100px;
  border-radius: 20px;
}

banner div.info {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 10px 50px;
  text-transform: uppercase;
}

banner div.info p {
  font-weight: 500;
  color: #797979;
  line-height: 50px;
  font-size: 20px;
}

banner div.info p.subtitle {
  color: #05364d;
  font-weight: 400;
  line-height: 30px;
}

banner div.info h1 {
  color: #05364d;
  font-size: 50px;
  font-weight: 550;
  line-height: 0px;
}

banner div.image {
  flex: 1;
}

#social-links {
  height: 100px;
  align-content: center;
}

#social-links .icon {
  transition: 0.3s ease-in-out;
  margin-right: 20px;
}

#social-links .icon:hover {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

div.flex-1 {
  display: flex;
  flex: 1;
}

banner #download-cv-btn {
  margin-left: 10px;
}
