skills {
  display: flex;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap;
}

div.skill-images {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 820px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

div.skills-list div.title {
  width: 100%;
}

div.skills-list div.title h1 {
  color: #05364d;
  font-size: 30px;
  font-weight: 550;
  text-align: center;
  text-transform: uppercase;
}

div.skill-images img {
  padding: 20px 20px;
}

div.skills-list {
  flex: 1.7;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

div.all-skills {
  overflow-y: auto;
  height: 744px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.skill {
  display: flex;
  padding: 20px 40px;
  height: 100px;
}

div.skill-details {
  margin-left: 20px;
}

div.skill-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

div.skill-title p {
  font-weight: bold;
}

.skill-value-container {
  width: 350px;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 50px 50px 50px 50px;
}

.skill-value {
  transition: 0.3s ease;
  height: 100%;
  background-image: linear-gradient(to right, #ed239f, #1345e6);
  border-radius: 50px 50px 50px 50px;
}
